<header>

<nav>
	<div> 
		<h1>Project Manager: the Ninja Cats</h1>
		<ul>
			<li><a href="">Menu</a></li>
			<li><a href="">Galery</a></li>
			<li><a href="">Login</a></li>
			<li><a href="">register</a></li>
		</ul>
	
	</div>
	
</nav>

</header>

{% set infoMessage = app.flashes('info') %}

{% if infoMessage is not empty %}

<div class="container">
	{% for message in infoMessage %}
	<p class="alert alert-success">{{ message }}</p>
	{% endfor %}
</div>
{% endif %}