<header>

<nav>
	<div> 
		<h1>The Ninja Project Manager</h1>
		<ul>
			<li><a href="{{ path('hompage') }}">Home</a></li>
			<li><a href="">Galery</a></li>
			<li><a href="">Login</a></li>
			<li><a href="{{ path('add_user') }}">Sign up</a></li>
		</ul>
	
	</div>
	
</nav>

</header>

{% set infoMessage = app.flashes('info') %}

{% if infoMessage is not empty %}

<div class="container">
	{% for message in infoMessage %}
	<p class="alert alert-success">{{ message }}</p>
	{% endfor %}
</div>
{% endif %}