<header>

<nav>
	<div> 
		<h1>PM : the Ninja Cats</h1>
		<ul>
			<li><a href="">Menu</a></li>
			<li><a href="">Galery</a></li>
			<li><a href="">Login</a></li>
			<li><a href="">register</a></li>
		</ul>
	
	</div>
	
</nav>
<img class="imgLogo" src="https://cdn.designcrowd.com/blog/2016/October/cat-day-logos/13_300.png" alt="miaou"/>

</header>