{% extends 'base.html.twig' %}

{% block body %}
{#<div class="container">
{{ form_start(userFormular) }}

</div>#}
<div>
{{ form(userFormular) }}

</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
	<script src="/js/register.js"></script>	
{% endblock %}